*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* backgound img with darken  */
body{
    border: 10px solid white;
    height: 97.5vh;
    width: 98.8vw;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(Backgroundimg.png);
    background-size:cover;
    background-repeat: no-repeat;
}

/* navigation menu and logo start */
header {
    display: flex;
    justify-content: space-between;
    width: 85%;
}
header nav{
    display: flex;
}
header nav ul{
    gap: 20%;
    display: flex;
    list-style: none;
    align-items: center;
    color: white;
}
.logo{
    margin-left: 4%;
    margin-top: 1%;
    font-size: 1.4vw;
    font-weight: bold;
    color: white;
}
/* navigation menu and logo end */

/* paragraph section start */
main{
    color: white;
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

main .main1{
    font-size: 3vw;
    width: 75%;

    text-align: center;
}
main .main2{
    width: 54%;
    text-align: center;
}
/* paragraph section end */

/* button option  */
button{
    width: 10%;
    height: 5%;
    font-weight: bold;
}